<div th:replace="shared/header"></div>
<h1>Upload Username And Image</h1>
<div class="container">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="file" name="imagename" id="imagename" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>&nbsp
        <a href="/user"><span class="btn btn-default">Upload Username And Image</span></a>
    </form>
</div>

<div th:replace="shared/footer"></div>