<div th:replace="shared/header"></div>
<h1>Image Uploaded Successfully</h1>
<div th:if="${msg}">
    <span th:text="${msg}"></span>
</div>
<div>
    <a href="/"><span class="btn btn-default">Upload Username And Image</span></a>
</div>
<div th:replace="shared/footer"></div>