<div th:replace="shared/header"></div>
<h1>Upload Email And Password</h1>
<div class="content">
    <form method="post" action="/user/save" id="user-form" >
        <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Save To Database</button>&nbsp
        <a href="/"><span class="btn btn-default">Upload Email And Password</span></a>
    </form>
</div>
<div th:replace="shared/footer"></div>