<div th:replace="shared/header"></div>
<h1>User Uploaded Successfully</h1>
<!-- <div th:if="${msg}">
    <span th:text="${msg}"></span>
</div> -->
<div>
    <a href="/"><span class="btn btn-default">Upload Email And Password</span></a>
</div>
<div th:replace="shared/footer"></div>