<div th:replace="shared/header"></div>
<div th:include="'/image/username-image-form'"></div>
<div th:include="'/user/email-pass-form'"></div>
<a href="javascript:void(0)" id="username-image"><span
        class="btn btn-default">Add Username And Image</span></a>
<a href="javascript:void(0)" id="email-password"><span
        class="btn btn-default">Add Email And Password</span></a>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        //OPEN EMAIL AND PASSWORD MODAL TO ENTER DATA
        $('#email-password').on('click', function () {
            var $dialog = $('#email-pass-dialog');
            $dialog.find('#modal-title').html("Upload Email And Password");
            $dialog.modal();
            return false;
        });

        //ON SUMBITTING DATA(EMAIL / PASSWORD) TO DATABASE THROUGH AJAX POST
        $('#email-pass-form').on('submit', function () {
            var formData = $(this).serialize();
            $.ajax({
                url: "/user/json",
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data === "success") {
                        var $dialog = $('#email-pass-dialog');
                        $dialog.modal('hide');
                    }
                }
            });
            return false;

            //Normal Post
            /* $.post('/user/json', $(this).serialize(), function(data) {
             if (data === "success") {
             var $dialog = $('#email-pass-dialog');
             $dialog.modal('hide');
             };
             });
             return false; */
        });

        //OPEN USERNAME AND IMAGE MODAL TO ENTER DATA
        $('#username-image').on('click', function () {
            var $dialog = $('#username-image-dialog');
            $dialog.find('#modal-title').html("Upload Username And Image");
            $dialog.modal();
            return false;
        });
        //ON SUMBITTING DATA(USERNAME / IMAGE) TO DATABASE THROUGH AJAX POST
        $('#username-image-form').on('submit', function () {

//            var $formData = {
//                username: $('input[name=username]').val(),
//                imagename: $('input[name=imagename').val()
//            };

//            var $data = $(this).serialize();
//            var $img = $('#imagename')[0];
//            var $formData = new formData($img,$data);
            var $data = new FormData(this);
            $data.append("file", $("#imagename").prop("files")[0]);

            $.ajax({
                url: "/image/upload",
                type: "POST",
                enctype: "multipart/form-data",
                data: $data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data === "success") {
                        var $dialog = $('#username-image-dialog');
                        $dialog.modal('hide');
                    }
                }
            });
            return false;
        });
    });
</script>